/*
* Color theme:
* #B73225 - Red Highlight
* #004E7C - Blue Minded
* #591COB - Maroon 6
* #5C5F58 - Grey Water
* #DCE1E3 - Lighter Grey
*/


body {
    overflow: hidden ;
}
#app {
    height: 100vw;
    background-image: linear-gradient(to right, #DCE1E3, rgb(35, 134, 201,.75));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-brand {
    color: #DCE1E3;
}
#navBar {
    margin-left: auto;
}
.nav-link {
    color:   rgb(35, 134, 201) !important;
}
.nav-link2 {
    color:   rgb(35, 134, 201) !important;
    width: 100%;
    margin: auto;
}

.navbar2 {
    width: 25%;
    margin: auto;
    
}
.modalTitle {
    color:red;
    font-size: 32px !important;
    padding: 15px;
}
.modalBody {
    margin: 20px 20px 20px 20px;
}
.modal {
    font-size: 18px;
    margin-top: 20px;   
}
.about {
    height: 100vw;
    color: #5C5F58;/*#591C0B; */
    width: 75%;
    margin: auto;
}
.about-h1 {
    color: #591C0B;
    font-weight: bold;
}
.about-header {
    text-align: center;

}
.about-text {
    font-size: 18px;
    text-align: center;
    margin: 5px 5px 5px 5px;
}
.question-text { /*from About*/
    color: #B73225;
}
.about-paragraph1 {
    width: 70% !important;
    margin: auto;
    margin-bottom: 30px;
}
#login, #register {
    margin-top: 40px;
    background-color: transparent;
}
#registerForm, .loginPrompt{
    background-image: linear-gradient(90deg,#5C5F58 100%, #00FFFF 0%);
    height: 420px;
    border-radius: 30px;
    margin: auto;
    max-width: 500px;
    min-width: 350px;
    margin-bottom: 10px !important;
}
#loginForm{
    background-image: linear-gradient(90deg,#004E7C 100%, #00FFFF 0%);
    height: 420px;
    border-radius: 30px;
    margin: auto;
    max-width: 500px;
    min-width: 350px;
    margin-bottom: 10px !important;
}
.register-inputs, #login {
    color: #DCE1E3;
    max-width: 300px !important;
    text-align: center;
    padding: 5px 0px 10px 0px ;
    margin-bottom: 20px;
    margin-top: 20px !important;
    
}
#login {
    margin-top: 40px !important;
}
.login-inputs {
    padding: 10px 0 10px 0;
    margin-top: 10px;
    margin-bottom: 3px;
    color: #DCE1E3;
}
.login-inputs-row {
    margin-bottom: 20px !important;
}
.login-header {
    margin-top: 20px;
    margin-bottom: 20px !important;
    color: #B73225;
}
dialog {
    max-width: 220px !important;
    max-height: 50px !important;
    text-align: center;
    line-height: 0px;
    color: red;
    border: 6px double red;
}
input {
    background-color: #DCE1E3;
}
.row {
    display: flex;
    justify-content: center;
}
.register-text {
    text-align: center;
    font-weight: bold;
    list-style-position: inside;
    color: #004E7C;
    margin: 10px 0 30px 0;
}
li {
    text-align: start;
    margin-left:30%;
    font-size: 18px;
}
h1 {
    color: #5C5F58;
}
h2 {
    color: #591C0B;
    margin-bottom: 20px !important; 
    font-weight: bold !important;
}
#submitRegister, #submitLogin, #submitTryAgain {
    width: auto;
    margin: auto;
    margin-top: 16px;
}
#nameDiv, #emailDiv, #passwordDiv {
    border-radius: 20px;
}
.home {
    text-align: center;
    background-image: linear-gradient(#004E7C 100%, #B73225  0%);
    height: 420px;
    border-radius: 30px;
    margin: 40px 0 10px 0;
    max-width: 1000px !important;
    min-width: 350px;
}
.loginPrompt {
    text-align: center;
    height: 420px;
    border-radius: 30px;
    margin: 40px 0 10px 0;
    max-width: 1000px !important;
    min-width: 350px;
}
.homeText, .quizQuestionText {
    font-size: 32px;
    margin: 70px 0 20px 0 !important;
    color: #DCE1E3;
}
.userChoice, .questionRange {
    color: #f53a47;
    font-weight: bold;
    font-size: 20px;
}
.homeForm {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #DCE1E3 ;
    margin: 30px 0 20px 0;
    
}
.homeFormControl {
    color: #DCE1E3;
    max-width: 300px !important;
    
    text-align: start;
    padding: 5px 0px 10px 0px ;
    margin-bottom: 20px;
    margin-top: 20px !important;
    margin: auto;
}
.drawFrame {
    display:block;
    margin: auto;
    margin-top: 30px;
}
#continueBtn, #submitBtn, #startBtn, #naviBtn {
    width: 250px;
    margin: auto;
    margin-top: 30px;
}
.art {
    display: flex;
    justify-content: center;
}
#naviBtn {
    margin: 70px 20px 0px 20px;
}